body{
    background: linear-gradient(to left, rgb(180, 183, 224),rgb(7, 18, 228));
}
#container{
    box-sizing: border-box;
    display: flex;
    background: yellow;
    width: 700px;
    height: 300px;
    margin: 50px auto;
    box-shadow: 5px 5px 5px white;
    align-items: center;
    justify-content: center;
}
#primary-num,#secondary-num{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 40px;
    font-weight: bolder;
    height: 125px;
    width: 125px;
    box-sizing: border-box;
    box-shadow: 2px 2px 2px rgb(235, 216, 216);
}
#primary-num{
    border: 5px solid blue;
}
#secondary-num{
    border: 5px solid rgb(94, 255, 0);
}
#add,#equal{
    font-size: 40px;
    font-weight: bolder;
    padding: 5px;
}
input{
    border: solid 2px black;
    width: 150px;
    height: 30px;
    padding: 5px;
}
button{
    width: 100px;
    height: 35px;
    margin: 5px;
    background: red;
    color: white;
    border: 2px solid blue;
}


/* now we need to add the js to make is working  */